server:
  port: 8080

spring:
  application:
    name: camunda-onboarding

  datasource:
    url: jdbc:h2:mem:camunda;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password: sa

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

camunda.bpm:
  admin-user:
    id: demo
    password: demo
    firstName: Demo
    lastName: User

  filter:
    create: All tasks

  authorization:
    enabled: false

logging:
  level:
    org.camunda: INFO
    com.example: DEBUG